@import "../../colores.scss";
@import "../../responsive.scss";

#navbar {
    display: flex;
    .logo {
        width: 20%;
        img {
            width: 100%;
            // padding-left: 20%;
            height: 180px;
        }
    }
    .links {
        display: flex;
        width: 60%;
        justify-content: space-evenly;
        align-items: center;
        @media #{$desktopsmall} {
            width: 50%;
        }
        a {
            margin-top: 45px;
            font-size: 18px;
            text-decoration: none;
            color: $negro;
            font-weight: 300;
        }
    }
    .search {
        width: 10%;
        display: flex;
        align-items: center;
        .icon {
            background: url("../../assets/Left\ section.svg");
            width: 29px;
            height: 29px;
        }
        p {
            font-size: 20px;
            margin: 0 0 4px 15px;
        }
    }
    .cart {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 35px;
        p {
            font-size: 18px;
        }
        .bolsa {
            margin-left: 35px;
            width: 27px;
            height: 27px;
            background: url("../../assets/bag-6.svg");
            border: 2px solid $rosa;
            border-radius: 35px;
            padding: 25px;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .items {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: -10px;
                left: auto;
                background-color: #ffe4e1;
                border: 2px solid $rosa;
                padding: 2px;
                margin: 0;
                width: 25px;
                top: -5px;
                bottom: auto;
                font-size: 12px;
                border-radius: 50px;
            }
        }
    }
}
